/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  text-align: center;
}
  
/* Styles for header */

.container-img {
  margin-top: 2rem;
}

.container-button-header {
  margin-top: 35px;
}

.button-header {
  border-radius: 50%
}

span {
  color: #EA0B8C
}


hr {
  margin-top: 0;
}

/* Styles for section enter code */

input {
  width: 4rem;
  border-bottom: 4px #EA0B8C dashed;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.button {
  background-color: #DFDFDF;
  font-weight: 700;
}

.container-button {
  margin-top: 20rem;
}

.button-next {
  background-color: #EA0B8C;
  color: #fff;
}