/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Lobster', cursive;
  text-align: center;
}
    
/* Styles for splash view */

.background {
  background: linear-gradient(130deg, #2B1E66 4%, #B7077D 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
img {
  width: 55%;
}
  
.container-text {
  top: 5rem;
}
  
.container-main {
  top: 7rem; 
}
  
.container-main a {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 1.5rem;
}

.container-user {
  top: 8.5rem;
}

.container-user a {
  color: #fff;
}